<h4>Lista de personajes</h4>
<ul>
  <li
    class="nav-item list-group-item-success d-flex justify-content-between p-3"
    *ngFor="let item of characterList; let i = index"
  >
    <a class="nav-link active" href="#" aria-current="page"
      ><span class="text-danger">{{ i + 1 }} </span>Personaje: {{ item.name }}
      <br />
      <strong>Poder: {{ item.power }}</strong></a
    >

    <a
      name=""
      id=""
      class="btn btn-danger mt-4 btn-sm"
      (click)="onDeleteCharacter(item.id)"
      href="#"
      role="button"
      >X</a
    >
   
  </li>
</ul>
