<div>
  <h1>{{ name }}</h1>

  <dl>
    <td>Nombre:</td>
    <dd>{{ name }}</dd>

    <td>Edad:</td>
    <dd>{{ edad }}</dd>

    <td>Método:</td>
    <dd>{{ getHeroeComplete() }}</dd>

    <td>Capitalizado:</td>
    <dd>{{ capitalizedname }}</dd>
  </dl>

  <button
    type="button"
    *ngIf="name !== 'Spiderman'"
    class="btn btn-primary m-2"
    (click)="changeHero()"
  >
    Cambiar nombre
  </button>
  <button
    type="button"
    *ngIf="edad !== 35"
    class="btn btn-primary"
    (click)="changeEdad()"
  >
    Cambiar edad
  </button>
</div>
