<h2 class="text-center">Agregar personaje</h2>
<form (ngSubmit)="emitCharacter()">
  <div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input
      type="text"
      [(ngModel)]="persona.name"
      class="form-control"
      name="name"
      id=""
      aria-describedby="helpId"
      placeholder="Ingrese el nombre del personaje"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Poder</label>
    <input
      [(ngModel)]="persona.power"
      type="number"
      class="form-control"
      name="power"
      id=""
      aria-describedby="helpId"
      placeholder="Ingrese la cantidad de poder del personaje"
    />
  </div>

  <button type="submit" class="btn btn-success">Ingresar</button>
</form>
