<h1>Dragon ball Z</h1>
<hr />
<div class="row justify-content-center align-items-center g-2">
  <div class="col">
    <h4>Lista de personajes</h4>
    <ul>
      <li class="nav-item">
        <a class="nav-link active" href="#" aria-current="page">Active link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled link</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <h2 class="text-center">Agregar personaje</h2>
    <form>
      <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Ingrese el nombre del personaje"
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Poder</label>
        <input
          type="number"
          class="form-control"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Ingrese la cantidad de poder del personaje"
        />
      </div>

      <button type="submit" class="btn btn-success">Ingresar</button>
    </form>
  </div>
</div>
